.SensorList {
  width: 100%;
}

.SensorListItem {
  background: white;
  margin: auto;
  margin-top: 24px;
  max-width: 400px;
  text-align: left;
  padding: 10px;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-left: 6px solid #87c38f;
}

.SensorListName {
  font-size: 2rem;
}

.SensorListError {
  margin: 24px;
}

.SensorListLoading {
  margin: 24px;
}
